.people-navigation{

}
#people-ctn{
    width: 400px;
    box-sizing: border-box;
    padding-left: 30px;
}
.person_active{
    color:red
}
.person_inactive{
    color:black
}
.person_std{
    box-sizing: border-box;
    padding: 0 20px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 370px;
    border: 1px solid rgba(119, 119, 119, 0.350);
    height: 100px;
    list-style: none;
}
.person_std-r-arrow{
    width: 17px;
    height: 17px;
}
.people-mobile-open{
    margin-left: 0px;
}
@media (max-width:768px){
    .people-mobile-open{
        margin-left: 0px;
    }
    .people-mobile-closed{
        margin-left: -400px;
    }
    #people-ctn{
        position:absolute;
        top: 0px;
        padding:60px 0 0 0px;
        height: 100vh;
        background:whitesmoke;
        z-index: 9;
    }
}